.storyDetailsContainer {
    background-color: #4b4949;
    margin: 15px;
    border: transparent;
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.storyContainer {
    display: flex;
    flex-direction: column;
    background-color: #4b4949;
    margin: 15px;
    border: transparent;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.storyContainer > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e5e5e5;
}
.heartIconContainer,.likeIconContainer {
    transition: 0.5s;
    display: flex;
    background-color: rgb(209, 118, 118);
    color: black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: transparent;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    padding: 1px 1px 0px 1px;
  }
  
.heartIconContainer,.likeIconContainer:hover {
color: white;
background-color: #f9706a; 
}
.likeIconContainer:hover {
color: white;
background-color: #f9706a; 
}
.moralContainer {
    text-align: center;
}

.moralContainer span {
    color: orange;
}

.authorContainer {
    font-weight: bolder;
}
.actionsContainer {
    display: flex;
    width: --webkit-available;
    gap: 15px;
    border-bottom: 2px solid darkgrey;
    padding: 0 0 10px 0;
    justify-content: center;
}

.story {
    text-wrap: wrap;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
