.container {
    background-color: transparent;
    width: fit-content;
    margin: 15px auto;
    position: relative;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    
}
.userInfoContainer > h2,h4 {
    margin: 0;
}

.userTable{
    margin: 0 auto;
    color: white;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: rgb(255 255 255 / 18%) 0px 2px 4px;
    border-radius: 10px;
    padding: 100px 20px 20px 20px;
    border-spacing: 20px;
    position: relative;
}

.staticCell{
    margin: 10px;
}

.container > button {
    bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #3679bd;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 45px;
}

.container > button:hover {
    background-color: #007ffd;
    color: #ffffff;
    transform: scale(1.08);
}

.profileImage{
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: transparent;
    border-radius: 50%;
    top: 5px;
    left: 10px;
}